{% extends 'base.html' %}

{% block title %}Alignment Visualization{% endblock %}

{% block content %}
    <h1>Type a TF</h1>
    <form action="/alignment" method="post">
        <label for="gene">Name</label>
        <input type="text" name="gene" placeholder="ELOA3DP">
        <button type="submit">submit</button>
    </form>

    {% if fig_obj %}
    <div class="Container" style="max-width: 1600px; margin: 0 auto;">
        <img src="{{ url_for('static', filename=fig_obj) }}" alt="" style="max-width: 100%;">
    </div>    
    {% endif %}
{% endblock %}
